<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!--<add name="BaseDb" connectionString="Server=114.215.185.6;Initial Catalog=adms706;User ID=crm;Password=1234Qwer" providerName="System.Data.SqlClient" />
	<add name="WFDB" connectionString="Server=114.215.185.6;Initial Catalog=learunOAWFForm;User ID=crm;Password=1234Qwer" providerName="System.Data.SqlClient" />
	<add name="learunOAWFForm" connectionString="Server=114.215.185.6;Initial Catalog=learunOAWFForm;User ID=crm;Password=1234Qwer" providerName="System.Data.SqlClient" />-->
	<!--<add name="BaseDb" connectionString="Server=.;Initial Catalog=adms706;User ID=sa;Password=1234Qwer" providerName="System.Data.SqlClient" />
	<add name="WFDB" connectionString="Server=.;Initial Catalog=learunOAWFForm;User ID=sa;Password=1234Qwer" providerName="System.Data.SqlClient" />
	<add name="learunOAWFForm" connectionString="Server=.;Initial Catalog=learunOAWFForm;User ID=sa;Password=1234Qwer" providerName="System.Data.SqlClient" />-->

  <add name="BaseDb" connectionString="Server=.;Initial Catalog=adms706;User ID=sa;Password=Yx200461" providerName="System.Data.SqlClient" />
  <add name="WFDB" connectionString="Server=.;Initial Catalog=learunOAWFForm;User ID=sa;Password=Yx200461" providerName="System.Data.SqlClient" />
  <add name="learunOAWFForm" connectionString="Server=.;Initial Catalog=learunOAWFForm;User ID=sa;Password=Yx200461" providerName="System.Data.SqlClient" />
</connectionStrings>
