@{
    ViewBag.Title = "项目合同查看";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item" data-table="ProjectContract">
        <div class="lr-form-item-title">项目名称</div>
        <input id="ProjectName" type="text" class="form-control" readonly />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="Project">
        <div class="lr-form-item-title">委托单位</div>
        <input id="CustName" type="text" class="form-control" readonly />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="ProjectContract">

        <div class="lr-form-item-title">项目来源</div>
        <input id="ProjectSourceName" class="form-control" readonly />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="ProjectContract">
        <div class="lr-form-item-title">营销部门</div>
        <input id="DepartmentName" checkexpession="NotNull" isvalid="yes" class="form-control" readonly />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="ProjectContract">
        <div class="lr-form-item-title">营销人员</div>
        <input id="FollowPersonName" class="form-control" readonly />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="ProjectContract">
        <div class="lr-form-item-title">合同编号</div>
        <input id="ContractNo" type="text" class="form-control" checkexpession="NotNull" isvalid="yes" readonly />
    </div>

    <div class="col-xs-12 lr-form-item" data-table="ProjectContract">
        <div class="lr-form-item-title">合同主体</div>
        <input id="ContractSubjectName" checkexpession="NotNull" isvalid="yes" class="form-control" readonly />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="ProjectContract">
        <div class="lr-form-item-title">合同金额</div>
        <input id="ContractAmount" type="text" class="form-control" checkexpession="NotNull" isvalid="yes" readonly />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="ProjectContract">
        <div class="lr-form-item-title">合同分类</div>
        <input id="ContractTypeName" checkexpession="NotNull" isvalid="yes" class="form-control" readonly />
    </div>

    <div class="col-xs-12 lr-form-item" data-table="ProjectContract">
        <div class="lr-form-item-title">附件</div>
        <div id="ContractFile" checkexpession="NotNull" isvalid="yes"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/ProjectTask/ContractPreviewForm.js")
