@{
    ViewBag.Title = "项目管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout "  >
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle ">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="lr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入编号/名称" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="lrlg">查询</span></a>
                    </div>
                    <div class="lr-layout-tool-item">
                        <div id="multiple_condition_query">
                            <div class="lr-query-formcontent">
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">项目编号</div>
                                    <input id="ProjectCode" type="text" class="form-control" />
                                </div>
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">项目名称</div>
                                    <input id="ProjectName" type="text" class="form-control"></input>
                                </div>
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">委托单位</div>
                                    <input id="CustName" type="text" class="form-control"></input>
                                </div>
                                <div class="col-xs-12 lr-form-item">
                                    <div class="lr-form-item-title">联系人电话</div>
                                    <input id="ContactPhone" type="text" class="form-control"></input>
                                </div>
                                <div class="col-xs-12 lr-form-item" data-table="Project">
                                    <div class="lr-form-item-title">报备人</div>
                                    <div id="PreparedPerson"></div>
                                </div><div class="col-xs-12 lr-form-item" data-table="Project">
                                    <div class="lr-form-item-title">跟进人</div>
                                    <div id="FollowPerson"></div>
                                </div>
                                @*<div class="col-xs-12 lr-form-item" data-table="Project">
                                    <div class="lr-form-item-title">报备人<font face="宋体">*</font></div>
                                    <div id="PreparedPerson" checkexpession="NotNull" isvalid="yes"></div>
                                </div>
                                <div class="col-xs-12 lr-form-item" data-table="Project">
                                    <div class="lr-form-item-title">跟进人<font face="宋体">*</font></div>
                                    <div id="FollowPerson" checkexpession="NotNull" isvalid="yes"></div>
                                </div>*@
                                <div class="col-xs-12 lr-form-item" data-table="Project">
                                    <div class="lr-form-item-title">项目状态<font face="宋体">*</font></div>
                                    <div id="ProjectStatus" checkexpession="NotNull" isvalid="yes"></div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" learun-authorize="yes">
                       @* <a id="lr_Toview" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;查看</a>*@
                        <a id="lr_preview" class="btn btn-default">预览</a>
                        <a id="lr_yjfp" class="btn btn-default">一键分配</a>
                        <a id="lr_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;新增</a>
                        <a id="lr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                        <a id="lr_delete" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                        <a id="lr_print" class="btn btn-default"><i class="fa fa-print"></i>&nbsp;打印</a>
                        <a id="lr-export" class="btn btn-default"><i class="fa fa-sign-out"></i>&nbsp;<span class="lrlg">导出</span></a>
                    </div>

                    <div class=" btn-group btn-group-sm" learun-authorize="yes">
                        <a id="lr_contract" class="btn btn-default"><i class="fa fa-file-archive-o"></i>&nbsp;创建合同</a>
                        <a id="lr_task" class="btn btn-default"><i class="fa fa-file-archive-o"></i>&nbsp;派遣任务</a>
                        <a id="lr_payment" class="btn btn-default"><i class="fa fa-file-archive-o"></i>&nbsp;申请付款</a>
                        <a id="lr_billing" class="btn btn-default"><i class="fa fa-file-archive-o"></i>&nbsp;申请开票</a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/ProjectManage/Index.js")

