@{
    ViewBag.Title = "项目合同申请";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout "  >
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle ">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                </div>
                
            </div>
            <div class="lr-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/CalendarTable/Index.js")
