@{
    ViewBag.Title = "创建评论";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="commentForm">
    <div class="col-xs-12 lr-form-item" >
        <textarea id="CommentsName" class="form-control" style="height:100px;width:100%"></textarea>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_NewWorkFlow/Views/NWFProcess/CreateCommentForm.js")
